<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.SolrMapper">
    <resultMap id="BaseResultMap" type="com.qf.vo.SolrProductVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="t_product_name" jdbcType="VARCHAR" property="tProductName"/>
        <result column="t_product_type" jdbcType="VARCHAR" property="tProductType"/>
        <result column="t_product_sale_price" jdbcType="DECIMAL" property="tProductSalePrice"/>
        <result column="t_product_pimage" jdbcType="VARCHAR" property="tProductPimage"/>
        <result column="t_product_total_sales" jdbcType="BIGINT" property="tProductTotalSales"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            p.pid as id,
            p.pname as t_product_name,
            pb.bname as t_product_type,
            p.sale_price as t_product_sale_price,
            p.pimage as t_product_pimage,
            p.total_sales as t_product_total_sales
        from t_product as p
        left join t_product_brand as pb on p.brand_id = pb.bid
    </select>
</mapper>