<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.OrderMapper">

    <!--创建订单-->
    <insert id="insertByOrder">
        insert into t_order
        (id,account,status,paystatus,createdate,remark,amount)
        values
        (#{id},#{account},#{status},#{paystatus},#{createdate},#{remark},#{amount});
    </insert>

</mapper>